* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.background {
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
}

.header {
  padding-top: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 430px;
  margin-left: auto;
}

.header-block {
  margin-right: 60px;
}

.header-block__link {
  font-family: Oswald;
  font-size: 14px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 1.94px;
  color: #FFFFFF;
  text-decoration: none;
}

.hero-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-screen-block {
  margin-top: 283px;
}

.hero-screen-block__title {
  font-family: Oswald;
  font-weight: 500;
  font-size: 72px;
  line-height: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 4.608px;
  color: #FFFFFF;
}

.hero-screen-block__text {
  font-family: Open Sans;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.28px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 25px;
}

.hero-screen-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 303px;
}

.hero-screen-slider__input {
  margin-right: 8px;
  font-family: Oswald;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 1.152px;
  color: rgba(255, 255, 255, 0.437245);
  padding-bottom: 24px;
}

.hero-screen-slider__input:first-child {
  font-family: Oswald;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 2.304px;
  color: #FFFFFF;
}

.wrapper {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
}

.about-left__title {
  font-family: Oswald;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 2.304px;
  color: #333333;
}

.about-img__one {
  position: relative;
  top: 100%;
  left: 55px;
  z-index: 5;
}

.about-img__green {
  position: relative;
  left: -120px;
  top: 25px;
  z-index: 2;
}

.about-img__two {
  position: relative;
  left: 295px;
  z-index: 1;
}

.background-our {
  background: #FBFBFB;
  margin-top: 115px;
}

.our {
  padding-top: 129px;
}

.our__title {
  font-family: Oswald;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 3.072px;
  color: #252525;
}

.our__line {
  background: #252525;
  border-radius: 1px;
  padding-top: 2px;
  width: 45px;
}

.our-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-box {
  background: #FFFFFF;
  width: 376px;
  margin-left: 28px;
  margin-top: 94px;
  padding: 50px 10px 35px 44px;
}

.our-box:first-child {
  margin-left: 0;
}

.our-box__title {
  font-family: Oswald;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  color: #252525;
}

.our-box__img {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.our-box__text {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 25px;
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.008px;
  color: #777777;
}

.our-box__descriphin {
  font-family: Oswald;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #252525;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 19px;
}

.works {
  margin-top: 146px;
}

.works-combo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-block {
  margin-top: 50px;
}

.works-block__title {
  font-family: Oswald;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 3.072px;
  color: #252525;
}

.works-block__line {
  background: #252525;
  border-radius: 1px;
  padding-top: 2px;
  width: 45px;
}

.works-links {
  margin-top: 51px;
}

.works-links__a {
  text-decoration: none;
  font-family: Open Sans;
  font-size: 13px;
  line-height: 18px;
  display: inline;
  letter-spacing: 0.832px;
  color: #252525;
  opacity: 0.3;
  margin-right: 40px;
}

.works-photography__img {
  position: relative;
}

.works-photography__title {
  position: absolute;
  top: 340%;
  left: 58%;
  width: 295px;
  font-family: Oswald;
  font-weight: 300;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 3.072px;
  color: #252525;
}

.works-photography__text {
  margin-top: 10px;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.152px;
  color: #252525;
}

.works-photography__discriphin {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 13px;
  line-height: 23px;
  margin-top: 17px;
  letter-spacing: 0.832px;
  color: #C2C2C2;
}

.works-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-kittens {
  margin-top: -150px;
  width: 455px;
}

.works-kittens__img {
  position: relative;
}

.works-kittens__title {
  position: absolute;
  top: 385%;
  width: 228px;
  left: 27%;
  font-family: Oswald;
  font-weight: 300;
  font-size: 48px;
  line-height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 3.072px;
  color: #252525;
}

.works-kittens__text {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.152px;
  color: #252525;
  margin-top: 17px;
}

.works-kittens__discriphin {
  margin-top: 20px;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.832px;
  color: #C2C2C2;
}

.works-product {
  margin-top: 173px;
}

.works-product__img {
  position: relative;
}

.works-product__title {
  position: absolute;
  top: 430%;
  left: 58%;
  width: 450px;
  font-family: Oswald;
  font-weight: 300;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 3.072px;
  color: #252525;
}

.works-product__text {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.152px;
  margin-top: 20px;
  color: #252525;
}

.works-product__discriphin {
  margin-top: 20px;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.832px;
  color: #C2C2C2;
}

.works-contein {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-appls {
  margin-top: -100px;
}

.works-appls__img {
  position: relative;
}

.works-appls__title {
  position: absolute;
  top: 480%;
  left: 28%;
  width: 250px;
  font-family: Oswald;
  font-weight: 300;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 3.072px;
  text-transform: uppercase;
  color: #252525;
}

.works-appls__text {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.152px;
  margin-top: 20px;
  color: #252525;
}

.works-appls__discriphin {
  margin-top: 20px;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.832px;
  color: #C2C2C2;
}

.works-more {
  margin-top: 341px;
}

.background-team {
  background: #FBFBFB;
}

.team__title {
  font-family: Oswald;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 3.072px;
  color: #252525;
  padding-top: 129px;
}

.team__line {
  background: #252525;
  border-radius: 1px;
  padding-top: 2px;
  width: 45px;
}

.team-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 74px;
  padding-bottom: 167px;
}

.team-block__img {
  position: relative;
}

.team-block__title {
  position: absolute;
  top: 600%;
  left: 20%;
  font-family: Oswald;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 1.152px;
  color: #252525;
}

.team-box {
  margin-left: 20px;
  margin-right: 20px;
}

.team-box__img {
  position: relative;
}

.team-box__title {
  position: absolute;
  top: 590%;
  left: 45%;
  font-family: Oswald;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1.152px;
  color: #252525;
}

.team-box__text {
  position: absolute;
  top: 595%;
  left: 45%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1.152px;
  color: #252525;
}

.team-box__description {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1.008px;
  color: #777777;
  position: absolute;
  top: 600%;
  left: 42%;
}

.team-conteyner__img {
  position: relative;
}

.team-conteyner__title {
  font-family: Oswald;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1.152px;
  color: #252525;
  position: absolute;
  top: 600%;
  left: 73%;
}

.review {
  display: block;
}

.review-text {
  padding-top: 117px;
  max-width: 735px;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.896px;
  color: #373737;
  margin: 0 auto;
  padding-bottom: 31px;
}

.review-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 29px;
}

.review-block__title {
  margin-right: 7px;
  font-family: Oswald;
  font-size: 18px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 1.152px;
  color: #373737;
}

.review-block__text {
  font-family: Oswald;
  font-size: 18px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 1.152px;
  color: #777777;
}

.review-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  margin-bottom: 29px;
}

.review-star__img {
  margin-left: 9px;
}

.review-star__img:first-child {
  margin-left: 0;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1806px;
  width: 100%;
}

.buttons-left {
  max-width: 903px;
  width: 100%;
  background: #FBFBFB;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
}

.buttons-left__img {
  padding-top: 69px;
}

.buttons-left__title {
  font-family: Oswald;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2.66667px;
  color: #373737;
  padding-top: 19px;
}

.buttons-left__text {
  padding-bottom: 100px;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1.55556px;
  color: #373737;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding-top: 22px;
}

.buttons-right {
  max-width: 903px;
  width: 100%;
  background: #70BD59;
  border: none;
}

.buttons-right__img {
  padding-top: 69px;
}

.buttons-right__title {
  font-family: Oswald;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2.66667px;
  color: #373737;
  padding-top: 19px;
}

.buttons-right__text {
  padding-bottom: 100px;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1.55556px;
  color: #373737;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding-top: 22px;
}

.contact-background {
  background: #2E2E2E;
}

.contact {
  padding-top: 142px;
}

.contact-adress {
  font-family: Oswald;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 0.832px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-decoration: none;
}

.contact-adress a {
  text-decoration: none;
  color: #FFFFFF;
}

.contact-connection {
  text-decoration: none;
  margin-top: 10px;
  font-family: Oswald;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 0.832px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.contact-connection a {
  text-decoration: none;
  color: #FFFFFF;
}

.contact-connection__tel {
  margin-right: 10px;
}

.contact-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 39px;
  padding-bottom: 82px;
}

.contact-social__img {
  border-radius: 32px;
  margin-left: 21px;
  border: none;
  background: black;
}

.contact-social__img:first-child {
  margin-left: 0;
}

.info {
  background: #252525;
}

.info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Oswald;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.832px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-top: 20px;
  padding-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */